
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  line-height: 1.8;
}

h1 {
  font-family: Impact, fantasy;
}

body {
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header header header header header header header header header header header"
    "top-container top-container top-container top-container top-container top-container top-container top-container top-container top-container top-container top-container "
    "main main main main main main main aside aside aside aside aside"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;/* Ensure the header stays on top of other elements */
  padding: 1rem;
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

#logo-header,
.logo {
  border: 1px;
  height: 5em;
  width: 5em;
  border-radius: 55px;
}

#navbar {
  display: flex;
}

#navbar ul li {
  height: 30px;
  padding: 5px;
  list-style: none;
  position: relative;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: gray;
}

li a:hover {
  color: #2b5bda;
  font-weight: bold;
}

.top-container {
  grid-area: top-container;
  display: flex;
  justify-content: space-between;
  /* margin: 5rem 12rem; */
  margin-left: 9em;
  margin-right: 11em;
  text-align: center;
}

#header-div-text {
  padding-top: 3em;
  padding-right: 2em;
}
#login-section{
  padding-top: 4rem;
}
#student-img {
  height: min-content;
  max-width: 150%;
  border-radius: 65%;
}

#club-disc {
  color: gray;
  font-weight: bold;
}

/* #club-disc:hover {
  transform-origin: center;
  scale: 1.5;
  transition: scale 0.25s;
  font-weight: bold;
} */

#club-text {
  color: #2b5bda;
}

.btns {
  border: 1px solid gray;
  width: 100px;
  height: 35px;
  border-radius: 25px;
  cursor: pointer;
  color: grey;
}

#load-more-button {
  align-self: center;
}


#contact-us-btn,
#email-btn,
#login-btn, 
#addAuthor,
.submitPaper {
  color: white;
  background-color: #2b5bda;
}

#contact-us-btn:hover,
#email-btn:hover,
#login-btn:hover,
.submitPaper {
  color: black;
  background-color: grey;
  box-shadow: 0 0 0 1px grey;
  font-weight: bolder;
}

#about-us-btn:hover,
#load-more-button:hover {
  color: #2b5bda;
  font-weight: bolder;
  border-color: #2b5bda;
  box-shadow: 0 0 0 1px #2b5bda;
}

.removeBtn:hover { 
  color: #da2b2b;
  font-weight: bolder;
  border-color: #da2b2b;
  box-shadow: 0 0 0 1px #da2b2b;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-left: 12rem;
  padding-right: 3rem;
}

#articles-head {
  border-left: 5px solid #89a4eb;
  margin: 2rem 0.5rem;
  padding: 0 0 0 1rem;
  align-self: flex-start;
}

.article-sep-card {
  transition: all 0.3s;
  display: flex;
  background: white;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  height: 250px;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.073);
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0px 0px 10px #89a4eb;
  border-radius: .5rem;
  transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;
}

.article-sep-card:hover {
  box-shadow: 0px 0px 30px #89a4eb;
  transform: translateY(-0.2rem);
}

.article-sep-card>div {
  min-width: 30%;
  margin-right: 1rem;
}

.article-sep-card>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.card-disc {
  line-height: 1.5;
  margin: 0;
  color: gray;
  font-size: 12px;
  font-weight: 500;
  padding: 0rem 0;
  overflow: hidden;
}

.card-publication {
  margin-top: 1.3em;
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
  font-weight: bold;
  color: gray;
}

.card-publication>img {
  border-radius: 100%;
  width: 20%;
  margin-right: 10px;
}



aside {
  grid-area: aside;
  padding-right: 12rem;
  padding-left: 3rem;
}

aside h2 {
  color: gray;
  padding: 2rem;
  text-align: center;
}

aside a {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin: 2px;
  color: #687082;
  background-color: #dde2ee;
  border-radius: 0.3rem;
}

.tag-on-card {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin: 2px;
  background-color: #dde2ee;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 0.7em;
}


.tag-on-card:hover,
.tags a:hover {
  color: white;
  background-color: #7c8294;
}

aside section div.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tags>a {
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  max-width: fit-content;
  flex-grow: 1;
  flex-shrink: 0;
}

#socials {
  scale: 1.5;
}

#socials>.fa:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
  transition: all 0.1s ease-in-out;
}

.fa-facebook:hover {
  text-shadow: 0px 0px 20px #3b5998;
  color: #3b5998;
}

.fa-twitter:hover {
  color: #1da1f2;
  text-shadow: 0px 0px 20px #00aced;
}

.fa-instagram:hover {
  text-shadow: 0px 0px 20px #e1306c;
  color: #c13584;

}

.fa-twitch:hover {
  color: #9146ff;
  text-shadow: 0px 0px 20px #9146ff;
}

aside section div, .forms {
  background: white;
  color: rgb(157 160 167);
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.073);
  overflow: hidden;
  box-shadow: 5px 5px 10px #d6d6d6,
    -5px -5px 10px #ffffff;
  text-align: center;
  border-radius: .5rem;
}

aside div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email, #email-feed,
#password {
  border: none;
  border-radius: 5px;
  background-color: #d7e2fe;
  height: 30px;
  margin: 10px 0px;
  padding: 10px;

}

::placeholder {
  font-weight: bold;
  color: #7186bc;
}

footer {
  grid-area: footer;
}

footer ul li {
  list-style: none;
}
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
#club-info {
  color: grey;
  text-align: center;
}

.footer-container {
  justify-content: space-around;
  padding: 0 3rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

footer>p {
  margin: 0;
  display: inline-block;
  width: 100%;
  border-top: 1px solid #ccc;
  padding-bottom: 1em;
  text-align: center;
}



.tags a,
#email-footer {
  text-decoration: none;
}

span #email-footer {
  color: #2b5bda;
  font-weight: bold;
}

footer #footer-text {
  color: black;
  font-weight: bold;
}

footer>p {
  color: gray;
}

#course-name a {
  color: #2b5bda;
  text-decoration: none;
}

#course-name:hover {
  cursor: pointer;
}

.card-title:hover {
  cursor: pointer;
  color: #2b5bda;
  font-style: italic;
}


@media (max-width: 768px) {

  body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "header" "top-container" "main" "aside" "footer";
  }

  .top-container {
    font-size: 1.1em;
    line-height: 1.8;
    justify-content: center;
    text-align: center;
  }

  #club-disc:hover {
    transform-origin: initial;
    scale: 1;
    transition: none;
  }

  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .article-sep-card {
    height: 200px;
  }

  html {
    font-size: 1em;
    line-height: 1.5;
  }

  #logo-header,
  .logo {
    height: 3em;
    width: 3em;
  }

  #student-img,
  aside {
    display: none;
  }

  header {
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {

  .card-disc,
  .card-publication img {
    display: none;
  }

  .article-sep-card>div {
    min-width: 30%;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
  }

  .author {
    align-content: left;
    align-self: left;
  }

  .card-disc {
    line-height: 1.5;
    margin: 0;
    color: gray;
    font-size: 12px;
    font-weight: 500;
    padding: 0rem 0;
    overflow: hidden;
  }


  .card-publication {
    width: 100%;
  }

  .card-publication {
    margin: 0;
    display: flexs;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }


  .card-date {
    margin-right: 0;
  }

  .author {
    margin-right: auto;
  }

  .top-container {
    margin: 2rem 1rem;
  }

  h1 {
    font-size: 1.5em;
  }

  #logo-header,
  .logo {
    height: 2em;
    width: 2em;
  }
  html {
    font-size: 0.9em;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #club-info,

  .nav-list {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
